body {
  margin: 20px;
  background-color: #edf2f7;
}

p.clear {
  clear: both;
  height: 0;
  padding: 0;
  margin: 0;
}

body,
body * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
}

body .p-card {
  background: #ffffff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04), 0px 15px 25px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

label {
  font-size: 14px;
  line-height: 14px;
  color: #4a5568;
  font-weight: 600;
  margin-bottom: 5px;
  display: inline-block;
}

input.p-inputtext,
.p-calendar {
  width: 100%;
  background: #f7fafc;
  border: 1px solid #e2e8f0;
  box-sizing: border-box;
  border-radius: 8px;
}

input.p-inputtext:enabled:hover {
  border-color: #5a67d8;
}

.submit-button.p-button {
  width: 100%;
  background-color: #5a67d8;
  border-radius: 8px;
}

.p-card-header {
  padding: 14px 14px 0 14px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
