.logo {
  width: 30px;
  float: left;
  margin-right: 10px;
}

.logo-wrapper {
  float: left;
  width: 100%;
  padding: 10px;
}

.ui-header-panel {
  background-color: #1a202c;
  color: white;
}

.headerText {
  height: 29px;
  line-height: 28px;
  font-size: 26px;
  display: inline-block;
}

.collapse-menu {
  float: right;
  margin: 8px;
}

nav {
  display: block;
  width: 100%;
  float: left;
}

nav ul {
  list-style: none;
  padding: 21px 17px;
  margin: 0;
}

.ui-header-panel li {
  padding-bottom: 20px;
}

.ui-header-panel li:last-child {
  padding-bottom: 0;
}

.ui-header-panel a {
  font-size: 16px;
  font-weight: 400;
  color: white;
  letter-spacing: 1.2px;
}

.main-navigation {
  border-bottom: 1px solid #2d3748;
}

.profile-pic img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
  border: 1px solid #718096;
}

li.profile-pic a {
  vertical-align: middle;
  display: inline-block;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
}

.secondary-navigation ul li a,
.logout-button {
  color: #cbd5e0;
}

.not-collapsed nav {
  display: none;
}

.collapse nav {
  transition: all;
}

.profile-pic.desktop {
  display: none;
}

@media (max-width: 543px) {
  .form-wrapper {
    width: 95%;
  }

  .form-wrapper .p-card {
    width: 100%;
  }

  .form-wrapper .p-card-body,
  .form-wrapper .p-card-header {
    padding: 20px;
  }
}

@media (min-width: 750px) {
  nav.main-navigation {
    display: block;
    border-bottom: 0;
  }

  .main-navigation li.desktop {
    padding: 0 20px;
    display: inline-block;
  }

  .logo-wrapper {
    width: auto;
    padding: 20px;
  }

  .main-navigation {
    width: auto;
    float: right;
  }

  .main-navigation ul {
    padding: 0;
  }
  .main-navigation li {
    display: inline-block;
    padding: 24px 14px;
  }

  .collapse-menu {
    display: none;
  }

  .logout-button {
    font-size: 16px;
    font-weight: 400;
    color: white;
    letter-spacing: 1.2px;
  }

  .logout-button:hover {
    cursor: pointer;
    color: #116fbf;
  }
}

.desktop-view-overlay.p-overlaypanel {
  background-color: #1a202c;
  border: 0;
  min-width: 250px;
}

.desktop-view-overlay.p-overlaypanel::before,
.desktop-view-overlay.p-overlaypanel::after {
  display: none;
}

.desktop-view-overlay li {
  display: list-item;
  padding: 10px;
}
